.dropdown {
    position: relative;
}

.dropdown__title {
    display: inline-flex;
    align-items: center;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: max-content;
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
    z-index: 11;
}

.dropdown-list.active {
    padding: 1rem;
    margin-top: .7rem;
    opacity: 1;
    visibility: visible;
}

@media (min-width: 1200px) {
    .dropdown-list {
        background-color: #fff;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

    }
}