.dropdown {
    position: relative;
}

.dropdown__title {
    display: inline-flex;
    align-items: center;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: max-content;
}

.dropdown-list.active {
    margin-top: .7rem;
    opacity: 1;
    visibility: visible;
}