:root {
  /* Transitions */
  --hover-transition: all .2s ease-in-out;
  --mobile-menu-transition: top .35s ease-in-out;

  /* Colors */
  --primary-color: #000;

  /* Fonts */
  --primary-font: 'Philosopher', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

body {
  font-family: 'Philosopher', sans-serif;
  font-size: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img{
  flex-shrink: 0;
}

.section {
  padding-bottom: 5rem;
  padding-top: 5rem;
}


.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1360px;
    padding-left: 0;
    padding-right: 0;
  }
}