.section-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../../images/home/banner/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.section-banner.section-banner-friends {
    background-image: url('../../images/home/banner/drink.jpg');
}

.section-banner__subtitle {
    display: inline-block;
    font-weight: 700;
    font-size: .75rem;
    line-height: 1.25;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 2.75rem;
}

.section-banner__title {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 2.625rem;
}

.link-underline {
    font-size: .75rem;
    line-height: 1.25;
    text-transform: uppercase;
}

.link-underline:after {
    bottom: 0;
}

.section-join__title{}

@media (min-width: 992px) {
    .section-banner__subtitle {
        font-size: .875rem;
        line-height: 1.2;
        margin-bottom: 2.25rem;
    }

    .section-banner__title {
        font-size: 5rem;
        margin-bottom: 1.875rem;
    }

    .link-underline {
        font-size: .875rem;
    }

    .section-banner.section-banner-friends {
        height: 30rem;
    }
}
